/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:90%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
    margin-left: -40px;
}
.span4.mix.photo.resized    {
    margin-right: -55px;
}

.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-300px;
    left:50%;
    margin:0 auto;
    margin-left:-110px;
    width:220px;
    height:80px;
    font-size:24px;
    color:#fff;
    text-decoration:none;
    line-height: 40px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3{
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
    color: #FECE1A;
    margin-top:10px;
    font-size:20px;
}
.thumbnail .mask {
    opacity:0.85;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#181A1C;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}

#portfolio-grid .mix {
    opacity: 0;
    display: none;
}

.form-control, .btn-default{
    margin-top:10px;
}

.btn-lg {
    margin-top:4px;
    margin-right:18px;
}

.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:40px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}

.subtLand   {
    font-size: 44px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
}

.subtLand.map  {
    color: #fff;
    margin-top: 20px;
}

.subtLand.descr  {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer  {
    margin-top: 30px;
    background-color: #FC2C56;
    padding-top: 2px;
}

.subtInfo   {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-style: bold;
}
 
 .mapDivision   {
    background-color: #609cec ;
 } 

 .description, .description2, .description3  {
    font-size: 22px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
 }

.description    {
    background-color: #39FD9D;
}

.description3   {
    background-color: #F1B8FF;
    padding-bottom: 10px;
}

.descrDiv   {
    background-color: #fcd419;
}

 .price-table {
    margin-top: 20px;
    margin-bottom: 20px;
}
.price-column {
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#C62E2E;
    text-transform:uppercase;
    text-align: center;
    color:#609CEC;
    padding:20px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}



/*
 ------------------------------------   PRODUCTOS   -----------------------------
*/
 
   .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  #photoSlider  {
    width: 100%;
  }

  .left.carousel-control, .right.carousel-control    {    
    background-color: #12D1D7;
  }

.span3.descripcion  {
    margin-left: 0px;
    width:400px;
}

.span3.extraInfo    {
    margin-left: 40px;
    width:200px;
    height: 30em;;
    border:1px solid;
    border-radius: 10px;
    border-color: #CC52B4;
    padding: 20px;
}

.toolmsg    {
    color: #000;
}

div.scroll {
    padding:10px;
    width: 100%;
    height: 250px; 
    overflow: scroll;
}

.comment    {
    background-color: #CC52B4;
    padding:20px;
}

    /*
        LINEAS DE COMENTARIO
    */
    
    .commentList {
        padding:0;
        list-style:none;
        max-height:200px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        width:30px;
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }